.Generator {

}

.generated-page {
  width: 100%;
  height: 600px;
  position: relative;

  &__iframe {
    width: calc(100% * 2);
    height: calc(600px * 2);
    border-radius: 6px;
    transform: scale(0.5);
    transform-origin: 0 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.menu {
  width: 100%;
  display: flex;
  height: 50px;
  margin-bottom: 20px;

  &__reload-btn {
    padding: 15px;
    background-color: #016fb9;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 5px;
  }

  &__goto-btn {
    padding: 15px;
    background-color: #ff9505;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 5px;
  }

  &__generate-btn {
    padding: 15px;
    background-color: #ec4e20;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 5px;
  }

}
