.PageComponents {

}

.code {
  &-textarea {
    color: black;
    padding: 10px;
  }

  &-editor {
    width: 800px;
    height: 500px;
  }
}

.page-component {
  border: solid 1px;
  width: 100%;
  min-height: 700px;
  border-radius: 6px;
  background: white;

  &__iframe {
    width: calc(100% * 2);
    height: calc(600px * 2);
    border-radius: 6px;
    transform: scale(0.5);
    transform-origin: 0 0;
  }
}
