<header class="header header--desktop">
  <div class="header__container header__container--desktop">
    <nav class="header__nav">
      <ul class="header__nav-menu">
        <li>
          <a href="https://apteczkafinansowa.pl/#dlaczego-warto" title="Dlaczego warto">Dlaczego warto</a>
        </li>

        <li>
          <a href="https://apteczkafinansowa.pl/#co-zyskasz" title="Co zyskasz">Co zyskasz</a>
        </li>
      </ul>

      <a href="https://apteczkafinansowa.pl/" class="mainheader__logo" title="Apteczka Finansowa">
        <img width="140" height="140" src="./Apteczka Finansowa_files/logo-apteczka-finansowa.svg"
          alt="Logo Apteczka Finansowa">
      </a>

      <div class="flex items-center gap-5 lg:hidden">
        <a href="https://apteczkafinansowa.pl/#kup-apteczke" class="btn btn--accent-outline !text-sm !font-semibold"
          title="Zamów Apteczkę">Zamów Apteczkę</a>
        <button class="menutoggle" id="js-menutoggle" title="Otwórz menu" aria-label="Otwórz menu"
          aria-expanded="false">
          <span class="menutoggle__line"></span>
          <span class="menutoggle__line"></span>
          <span class="menutoggle__line"></span>
        </button>
      </div>

      <ul class="mainheader__menu">
        <li class="lg:ml-auto">
          <a href="https://apteczkafinansowa.pl/#dla-kogo" title="Dla kogo">Dla kogo</a>
        </li>

        <li>
          <a href="https://apteczkafinansowa.pl/#kup-apteczke"
            class="btn btn--accent !text-base !font-medium !py-3 hover:!text-white" title="Zamów Apteczkę">Zamów
            Apteczkę</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
