<section class="section-for-who">
  <div class="container section-for-who__container">
    <div class="">
      <header class="section-for-who__header">
        <h2 class="">Dla kogo jest Apteczka Finansowa?</h2>
        <p class="">
          Przekonaj się, że Apteczka Finansowa to produkt właśnie dla Ciebie!
        </p>
      </header>

      <ul class="section-for-who__boxes">
        {{#each boxes}}
        <li class="section-for-who__box">
          <article class="box">
            <header class="box__header">
              <img width="40" height="40" class="" src="./content/check-rect-blue.svg" alt="">
              <h3 class="">{{this.title}}</h3>
            </header>
            <p>{{this.text}}</p>
          </article>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
