@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  background-color: #121212;
  min-height: 100vh;
  font-family: 'Montserrat';

  &-content {
    color: white;
    padding: 20px;
  }
}
